html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

.tab-switcher {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0;

  @media all and (max-width: 1000px) {
    grid-template-columns: 1fr;
    margin-top:72px;
  }
}

.tab-switcher .kw-toggle-cardGroup {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.kw-panel-nav{
  @media all and (max-width: 1000px) {
  display:flex;
  flex-direction:row;
  gap:25px;
  overflow:scroll;
}
}

.tab-switcher .tab-nav-wrapper {
  padding: 3.5rem 5rem;
  
  @media all and (max-width: 1000px) {
    padding: 2rem 2rem 4rem;
  }
}

.tab-switcher .interior-content {
  height: 100vh;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}

.tab-switcher .interior-content.active {
  display: block;
  opacity: 1;
  transition: opacity .5s ease 1s;
}

.kw {
  &-btn {
    padding: 5px 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-decoration: none;

    &_group {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    &_primary {
      background: #CE011F;
      border-radius: 1px;
      color: #fff;

      @media all and (max-width: 1000px) {
        flex-grow: 1;
      }
    }

    &_secondary {
      border: 1px solid #ADADAD;
      color: #ADADAD;
      border-radius: 1px;

      @media all and (max-width: 1000px) {
        flex-grow: 1;
      }
    }
  }

  &-sidebar {
    width: 100vw;
    overflow: hidden;
    padding: 4rem 0px 4rem 0px;

    @media all and (max-width: 1000px) {
      padding: 0;
      z-index: 1;
      position: fixed;
      background: #fff;
    }
  }

  &-mobileNav {
    &_announcements {
      max-height: 24px;
      max-width: 26px;
      // position: absolute;
      right: 0;
    }

    &_hamburger {
      background: rgba(216, 216, 216, 0.32);
      border-radius: 8px;
      padding: 15px 12px;
      max-width: 28px;
      max-height: 28px;
    }

    &_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 6px 25px;
      border-bottom: 1px solid #f3f4f6;

      @media all and (min-width: 1000px) {
        display: none;
      }

      h1 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 18px !important;
        line-height: 21px;
        color: #242424;
      }
    }
  }

  &-nav {
    width: 100%;
    margin: 5rem 0 0 0;

    @media all and (max-width: 1000px) {
      margin: 15px 0 0 0;
    }

    &_content_wrapper {
      @media all and (max-width: 1000px) {
        display: none;
        height: 88vh;
      }
    }

    ul {
      width: 100%;
      margin: 0;
      padding: 0;
      transition: 0.3s;
    }

    li:not(.active) {
      list-style: none;
      width: 100%;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      padding: 10px 0 10px 20px;
      transition: 0.3s;

      a {
        text-decoration: none;
        color: #000000;
        transition: 0.3s;
      }

      &:hover {
        font-weight: 500;
        transition: 0.3s;
      }
    }

    .active {
      background: #ce012009;
      font-style: normal;
      font-weight: 700;
      list-style: none;
      font-size: 18px;
      line-height: 21px;
      color: #ce011f;
      position: relative;
      padding: 12px 0 12px 20px;
      transition: 0.3s;
      margin-bottom: 2px;

      a {
        text-decoration: none;
        color: #ce011f;
        transition: 0.3s;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: 100%;
        background: red;
        transition: 0.3s;
      }
    }
  }

  &-profile {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    position: relative;
    background:#ffffff;

    &_wrapper {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    @media all and (max-width: 1000px) {
      border-top: 1px solid #f3f4f6;
      padding-top: 20px;
      position: fixed;
      bottom: 20px;
      left: 0;
    }

    img {
      border-radius: 50rem;
    }

    h4 {
      margin: 0;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: #363636;

      @media all and (max-width: 1000px) {
        font-size: 12px;
      }
    }

    h2 {
      margin: 0;
      font-style: normal;
      font-weight: 700;
      font-size: 21px;
      line-height: 25px;
      color: #363636;

      @media all and (max-width: 1000px) {
        font-size: 18px;
      }
    }
  }


  //     &-sidebar {
  //         background-color: #f5f5f5;
  //         padding: 4rem 0px 4rem 0px;
  // 
  //         @media all and (max-width: 1000px) {
  //             display: none;
  //         }
  // 
  //         .kw {
  //             &-nav {
  //                 width: 100%;
  //                 margin: 5rem 0 0 0;
  // 
  // 
  //                 ul {
  //                     width: 100%;
  //                     margin: 0;
  //                     padding: 0;
  //                     transition: 0.3s;
  //                 }
  // 
  //                 li:not(.active) {
  //                     list-style: none;
  //                     width: 100%;
  //                     font-weight: 400;
  //                     font-size: 18px;
  //                     line-height: 21px;
  //                     padding: 10px 0 10px 20px;
  //                     transition: 0.3s;
  // 
  //                     a {
  //                         text-decoration: none;
  //                         color: #000000;
  //                         transition: 0.3s;
  //                     }
  // 
  //                     &:hover {
  //                         font-weight: 500;
  //                         transition: 0.3s;
  //                     }
  //                 }
  // 
  //                 .active {
  //                     background: #ce012009;
  //                     font-style: normal;
  //                     font-weight: 700;
  //                     list-style: none;
  //                     font-size: 18px;
  //                     line-height: 21px;
  //                     color: #ce011f;
  //                     position: relative;
  //                     padding: 12px 0 12px 20px;
  //                     transition: 0.3s;
  // 
  //                     a {
  //                         text-decoration: none;
  //                         color: #ce011f;
  //                         transition: 0.3s;
  //                     }
  // 
  //                     &::before {
  //                         content: "";
  //                         position: absolute;
  //                         left: 0;
  //                         top: 0;
  //                         width: 4px;
  //                         height: 100%;
  //                         background: red;
  //                         transition: 0.3s;
  //                     }
  //                 }
  //             }
  // 
  //             &-profile {
  //                 display: grid;
  //                 grid-gap: 20px;
  //                 grid-template-columns: 60px auto;
  //                 align-items: center;
  //                 margin: 0 2rem;
  // 
  //                 img {
  //                     border-radius: 50rem;
  //                 }
  // 
  //                 h4 {
  //                     margin: 0;
  //                     font-style: normal;
  //                     font-weight: 700;
  //                     font-size: 14px;
  //                     line-height: 16px;
  //                     color: #363636;
  //                 }
  // 
  //                 h2 {
  //                     margin: 0;
  //                     font-style: normal;
  //                     font-weight: 700;
  //                     font-size: 21px;
  //                     line-height: 25px;
  //                     color: #363636;
  //                 }
  //             }
  //         }
  //     }

  &-mainBody {
    @media all and (max-width: 1000px) {
      margin-top: 72px;
    }

    max-width:100vw;

    &_cardGrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 50px;
      
      @media all and (max-width: 1000px) {
      grid-template-columns: 1fr;
      }
    }

    &_content {
      padding: 30px 50px;
      overflow: hidden;

      @media all and (max-width: 1000px) {
        padding: 4rem 2rem;
      }
    }

    &_hero {
      background-color: #000000;
      padding: 3.5rem 5.5rem;
      display: grid;
      grid-template-columns: 1fr 1.1fr;
      align-items: center;

      @media all and (max-width: 1000px) {
        padding: 4rem 2rem;
        grid-template-columns: 1fr;
        grid-gap: 3rem;
      }

      img {
        display: block;
        position: relative;
        max-width: 100%;
        height: auto !important;
        border: 0;
        margin: 0 auto;

        @media all and (max-width: 1000px) {
          width: 65%;
        }
      }

      &_heroContent {
        p {
          font-style: normal !important;
          font-weight: 500 !important;
          font-size: 18px !important;
          line-height: 27px !important;
          color: #ffffff !important;

          @media all and (max-width: 1000px) {
            text-align: center !important;
            margin-bottom: 25px !important;
            font-weight: 400 !important;
            font-size: 16px !important;
          }
        }

        a {
          font-style: normal !important;
          font-weight: 500 !important;
          font-size: 16px !important;
          line-height: 27px !important;
          text-align: center !important;
          color: #ffffff !important;
        }
      }
    }
  }

  &-interiorBody {
    background: #E0E0E0;
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    grid-gap: 0px;

    &_nav {
      padding: 50px 50px 0 50px;
    }
  }

  &-announcements {
    padding: 4.5rem 5rem;
    background-color: #f9f9f9;

    @media all and (max-width: 1000px) {
      display: none;
      // position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    h3 {
      font-weight: 400;
    }

    a {
      color: #CE011F;

      &:hover {
        font-weight: bold;
      }
    }

    &_group {
      border-bottom: 1px solid #D7D7D7;
    }
  }

  &-infoPanel {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    background: #ffffff;

    &_group {
      padding: 10px 60px 10px 60px;
      @media all and (max-width: 1000px) {
        padding:2rem 2rem;
      }
    }

    &_heroImage {
      position: relative;
      margin-bottom: 20px;

      img {
        width: 100%;
        height: 100%;
        max-height: 275px;
        object-fit: cover;
      }

      h2 {
        position: absolute;
        bottom: 1rem;
        left: 4.5rem;
        color: #fff;
        font-weight: 700;
        font-size: 21px;
        background: rgba(0, 0, 0, .5);
        padding: 8px 15px;
        border-radius: 2px;
        
        @media all and (max-width: 1000px) {
          left: 2rem !important;
        }
      }
    }
  }

  &-wrapper {}

  &-card {
    background: #fff;
    border: 1px solid #E3E3E3;
    display: flex;
    flex-direction: row;
    margin: 10px 0px 10px 0;
    align-items: center;
    gap: 25px;
    text-decoration: none !important;
    
    @media all and (max-width: 1000px) {
      flex-direction: column;
      min-width:175px;
      text-align:center;
      
      img{
        width:100%;
      }
    }

    &_event {
      display: grid;
      grid-template-columns: 44px auto;
      grid-gap: 25px;
      background: #fff;
      margin: 10px 0px 10px 0;
      padding: 12px 20px;
      align-items: center;
      border: 1px solid #E3E3E3;
      text-decoration: none;

      h3 {
        margin: 0.5rem 0;
        text-decoration: none;
      }

      p {
        margin: 0.5rem 0;
        text-decoration: none;
      }
      a{
        text-decoration: none;
      }
    }

    &:hover {
      filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.15));
    }

    img {
      width: 150px;
      min-width: 125px;
    }
    a{
      text-decoration: none;
    }

    &_content {}
  }

  &-cols {
    display: grid;

    &_3home {
      grid-template-columns: 30rem auto 45rem;

      @media all and (max-width: 1000px) {
        grid-template-columns: 1fr;
      }
    }

    &_interior {
      grid-template-columns: 30rem auto;

      @media all and (max-width: 1000px) {
        grid-template-columns: 1fr;
      }
    }
  }
}

// .kw-panel-switcher {
//   display: grid;
//   grid-template-columns: 30rem auto;
//   grid-gap: 60px;
//   
//   
// 
//   .pane {
//     background: #ffffff;
//     height: 100vh;
//     border: 1px solid #e3e3e3;
//     box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
//   }
// }
// 
// .kw-panel .panels .panel.active {
//   border-color: black;
// }

.active {
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.15));

  h3 {
    font-weight: bold;
  }
}

// 
// 
// h1 {
//   font-family: 'Roboto' !important;
//   font-style: normal !important;
//   font-weight: 700 !important;
//   font-size: 24px !important;
//   line-height: 28px !important;
// }
// 
// h2 {
//   font-weight: 700 !important;
//   font-size: 21px !important;
//   line-height: 25px !important;
// }
// 
// h3 {
//   font-weight: 700 !important;
//   font-size: 16px !important;
//   line-height: 24px !important;
//   color: #000000 !important;
// }
// 
// p {
//   font-weight: 400 !important;
//   font-size: 16px !important;
//   line-height: 24px !important;
//   color: #424242 !important;
// }
// 
// a {
//   text-decoration: none !important;
// }